/* 
* {
  box-sizing: border-box;
}

.photo-wrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 5%;
}

.photo-wrap > img {
  width: 250px;

  object-fit: cover;
  border-radius: 10px;
}

.photo-wrap img:nth-child(1) {
  margin: 5px;
  width: calc(17% - 10px);
}
.photo-wrap img:nth-child(2) {
  margin: 5px;
  width: calc(23% - 10px);
}
.photo-wrap img:nth-child(3) {
  margin: 5px;
  width: calc(30% - 10px);
}
.photo-wrap img:nth-child(4) {
  margin: 5px;
  width: calc(18% - 10px);
}
.photo-wrap img:nth-child(5) {
  margin: 5px;
  width: calc(12% - 10px);
}

@media screen and (max-width: 1100px) {
  .photo-wrap img {
    width: 200px;
  }
} */


.images-item {
  width: 100%;
    object-fit: cover;
  border-radius: 10px;
}